@mixin basicDisplayFlex($direction: column, $justify: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
  text-align: center;
}

@mixin desktopRowAdaptation() {
  @media only screen and (min-width: 720px) {
    flex-direction: row;
  }
}
